
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--header-->

<div class="container-fluid pimg border shadow rounded">
    <h1 class="text-center text-white p-5 m-1">Services</h1>
</div>
<br>
<!--info-->
<div class="container">
    <div class=" bg-dark">
        <div class="container text-white p-3">
            <p class="text-justify" style="opacity: 0.6">
                Triopod technology private limited possesses the requisite skill and design deftness that enables the conceiving
                of innovative yet simple C# based ASP.NET online and offline Applications that not only are entrancing
                but user friendly and interactive too. Over the years, Triopod technology private limited has garnered
                unblemished reputation at having delivered path breaking and .NET based design concepts and solutions.
                The core focus while designing Website and Applications with the fact that every design accompanies profound
                thought about the target audience. The basic requirements of the users are kept in mind and solutions
                are designed with intelligible navigation and high interactivity to captivate the audience. The core
                areas where Triopod Technology private limited competencies have shown golden results are:
                <ul style="opacity: 0.6;">
                    <li>Keyword Analysis</li>
                    <li>Domain Identification</li>
                    <li>Target Traffic Analysis</li>
                    <li>Social Networking</li>
                    <li>Conceiving State-of-the-art Community Applications </li>
                    <li>Facilitating Content Distributions</li>
                    <li>Validating and Streaming Portals</li>
                    <li>Enhancing Publishing Networks and Delivery Channels</li>
                    <li>Cutting-edge Product Engineering, IT consulting and Research & Development services for Global Organizations.</li>
                </ul>
                Triopod technology private limited web expertise is categorized into verticals called domains so that the solutions envisioned
                cater to the opportunities arising from every sector of the target industry
            </p>
        </div>
    </div>
    <br>
    <div class="container" style="opacity: 0.7;">
        <div>
            <h3 class="text-center text-white bg-danger" id="p1">Software Development</h3>
            <p class="text-justify">
                We Provide You Customized software development outsourcing company, providing expert development of custom software & solutions
                - to match all your process needs. We work closely with our customers during envision & speculation phase
                to understand their business objectives, define their business critical requirements, estimations (which
                is very important for your budgeting) and then our expert team simply takes cares of design, architect,
                development, testing and even integration with your third-party vendors/applications. This has resulted
                in 100% successful project completions.
            </p>
        </div>
        <div>
            <h3 class="text-center text-white bg-danger" id="p2">Web Development</h3>
            <p class="text-justify">
                With our APM methodologies, you can reduce your cost of software product development while keeping a control on the development
                life cycle, intellectual property, bringing product early to market with our expert project development
                teams. Add strategic value to your product development because only an experienced technology partner
                can reduce down your cost and risk of your software development. We are here for your search of professional,
                experienced, and globally trusted outsource solution provider.
            </p>
        </div>
        <div>
            <h3 class="text-center text-white bg-danger" id="p3">SEO Development</h3>
            <p class="text-justify">
                At Triopod Technology Pvt. Ltd., we understand how critical is to generate traffic for your business websites. We have proven
                80% increase in traffic with 75% priority keywords in top 10 in Google Search Results. Our SEO Processes
                are designed in view of the Google SEO guidelines, and white hat SEO techniques are strictly followed.
                Our team of experts are helping business from world over (USA / Canada / UK / Australia etc) get the
                best SEO results. Our complete SEO services will make you visible over Internet and especially on search
                engines like Google, Yahoo, MSN, Bing, etc.
            </p>
        </div>
        <div>
            <h3 class="text-center text-white bg-danger" id="p4">App Development</h3>
            <p class="text-justify">
                With the increasing number of mobile users, business owners are now thinking about developing an attractive and user-friendly
                app for their customers. This is why, the craze of Mobile Application Development is getting popular.
                The fact cannot be denied that there are a number of companies available in the market that promises
                you to deliver the best possible solutions. Add strategic value to your product development because only
                an experienced technology partner can reduce down your cost and risk of your App development. We are
                here for your search of professional, experienced, and globally trusted outsource solution provider.
            </p>
        </div>
        <div>
            <h3 class="text-center text-white bg-danger" id="p5">SMO Development</h3>
            <p class="text-justify">
                We provide you to use of a number of social media outlets and communities to generate publicity to increase
                the awareness of a product, brand or event. Types of social media involved include RSS feeds, social
                news and bookmarking sites, as well as social networking sites, such as Twitter, and video and blogging
                sites. SMO is similar to search engine optimization in that the goal is to generate traffic and awareness
                for a website. In general, social media optimization refers to optimizing a website and its content in
                terms of sharing across social media and networking sites.
            </p>
        </div>
        <div>
            <h3 class="text-center text-white bg-danger" id="p6">Consulting</h3>
            <p class="text-justify">
                With our APM methodologies, you can reduce your cost of software product development while keeping a control
                on the development life cycle, intellectual property, bringing product early to market with our expert
                project development teams. Add strategic value to your product development because only an experienced
                technology partner can reduce down your cost and risk of your software development. We are here for your
                search of professional, experienced, and globally trusted outsource solution provider.
            </p>
        </div>
    </div>
</div>
