
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--header-->

<div class="container-fluid pimg border shadow rounded">
    <h1 class="text-center text-white p-5 m-1">Reach Us</h1>
</div>
<br>
<!--info-->
<div class="container bg-dark">
    <div class="container">
        <div class="row text-light p-5">
            <div class="col-md-4">
                <h4>
                    <u>Head Office</u>
                </h4>
                <p>
                    Triopod Technology Pvt. Ltd.
                    <br> Wa 120A mother dairy road Shakarpur
                    <br> New Delhi, INDIA - 110092
                    <br>
                    <i class="fas fa-phone mr-2"></i>011-47529493
                    <br>
                    <i class="fas fa-mobile-alt mr-2"></i>+91 9835284963, 8010405407
                    <br>
                    <i class="fas fa-envelope-open mr-2"></i>triopodindia@outlook.com
                    <br>
                </p>
            </div>
            <div class="col-md-4">
                <h4>
                    <u>Branch Office</u>
                </h4>
                <p>
                    Triopod Technology Pvt. Ltd.
                    <br> H.N- 588, Near to R.P.S Mahila college,
                    <br> R.P.S More Bailey Road Patna
                    <br> Bihar - 801503
                    <br>
                    <i class="fas fa-phone mr-2"></i>011-47529493
                    <br>
                    <i class="fas fa-mobile-alt mr-2"></i>+91 9835284963, 8010405407
                    <br>
                    <i class="fas fa-envelope-open mr-2"></i>triopodindia@outlook.com
                    <br>
                </p>
            </div>
            <div class="col-md-4">
                <div id="map" style="width:100%; height:100%"></div>

                <script>
                        function myMap() {
                            var mapOptions = {
                                center: new google.maps.LatLng(28.627368, 77.279454),
                                zoom: 16,
                                mapTypeId: google.maps.MapTypeId.HYBRID
                            }
                            var map = new google.maps.Map(document.getElementById("map"), mapOptions);
                        }
                </script>

                <script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
            </div>
        </div>
    </div>
</div>
<br />

