
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--header-->

<div class="container-fluid pimg border shadow rounded">
    <h1 class="text-center text-white p-5 m-1">Our Product</h1>
</div>
<br>
<!--new-->
<div class="container border shadow" id="recent">
    <h1 style="color: #FF5733" class="text-center">Select Our Products</h1>
    <br>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
               aria-selected="true"><u> Softwares</u></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
               aria-selected="false"><u>Products to Buy</u></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact"
               aria-selected="false"><u>Products For Rent</u></a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">School Management System</a>
                <a href="#" class="list-group-item list-group-item-action">Hospital Management System</a>
                <a href="#" class="list-group-item list-group-item-action">Billing System</a>
                <a href="#" class="list-group-item list-group-item-action">Phramacy Management System</a>
                <a href="#" class="list-group-item list-group-item-action">E-Commernce Website</a>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">Laptops</a>
                <a href="#" class="list-group-item list-group-item-action">Desktops</a>
                <a href="#" class="list-group-item list-group-item-action">CCTV Cameras</a>
                <a href="#" class="list-group-item list-group-item-action">Fire Alarms</a>
                <a href="#" class="list-group-item list-group-item-action">Servers</a>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">Laptops</a>
                <a href="#" class="list-group-item list-group-item-action">Desktops</a>
            </div>
        </div>
    </div>
</div><br />

