
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--header-->
<div class="container-fluid pimg border shadow rounded">
    <h1 class="text-center text-white p-5 m-1">About Us</h1>
</div>
<br>
<div class="container">
    <!--Para-->
    <div class="row">
        <div class="col-md-3">
            <div class="bg-white">
                <h3 class="text-center text-danger p-2">Welcome!</h3>

                <p class="text-center p-3">
                    We specialise in web design, web development and graphic design for different Desktop, Mobiles and Tablets.
                    <br> We recently introduce cheapest and best mobile web design packages in our services. This is most
                    popular and beneficial for everyone. If you are looking for upgrade your website computable in mobiles
                    and tablets, Even if you don't have any website, then just remember us and makes your dream success.
                    <br>
                    <b>We are giving the best solution for your best value of money.</b>
                </p>
            </div>
        </div>
        <div class="col-md-9">
            <div class="bg-white">
                <h3 class="text-center text-danger p-2">Triopod Technology Pvt Ltd</h3>
                <br>
                <img src="~/Content/Images/carousel/3.jpg" style="width: 100%">
                <p class="text-center p-3">
                    Triopod Technology Private Limited is a professional software development company based in India that
                    endeavour on highly proficient, timely delivered and cost effective software development services.
                    We are highly experienced in offering offshore software development and project management.
                    <br> Triopod Technology Private Limited is one of the leading software development and website design
                    companies in India, providing software solutions to various industries such as car rental, tours
                    & travels, E-commerce, online Education Training and Exam, property management and Real-estate at
                    best value for money as per the requirement and specifications of our clients. What-ever may be your
                    software requirement, we have the solution.
                    <br>
                </p>
            </div>
            <div class="bg-white">
                <h3 class="text-center text-danger p-2">Vision & Mission</h3>
                <br>
                <h4 class="text-center">Vision</h4>
                <hr>
                <p class="text-center p-2">
                    "To be the technology partner of choice for forward looking customers by collaboratively transforming
                    technology into business advantage."
                </p>
                <h4 class="text-center p-2">Mission</h4>
                <hr>
                <p class="text-center p-2">
                    We will be the employer of choice and the partner of choice by focusing on our stated values of Employees
                    First, Trust, Transparency, Flexibility and Value Centricity." Triopod Technology Private Limited
                    is one of the leading software development and website design companies in India, providing software
                    solutions to various industries such as car rental, tours & travels, E-commerce, online Education
                    Training and Exam, property management and Real-estate at best value for money as per the requirement
                    and specifications of our clients. What-ever may be your software requirement, we have the solution.
                    When you work with us, your long-term success is our motivation. This is why we can offer you the
                    ability to meet every challenge and the agility to capitalize on every opportunity. That’s the power
                    of certainty. And it is our promise to every client. Experiencing certainty with TTPL means you can
                    count on results, partnership and leadership.
                </p>
                <br>
            </div>
        </div>
    </div>
</div>
<br />

