
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--header-->

<div class="container-fluid pimg border shadow rounded">
    <h1 class="text-center text-white p-5 m-1">Our Product</h1>
</div>
<br>
<div class="bg-light p-5 text-center m-5">
    <h1 class="display-4">Will be avaliable soon..</h1>
</div>

